
/* big tablets to 1200px (widths smaller than 1140px row width) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
}

/* small tablet to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

    /* because font sizes are defined as percentages of a base size, all fonts will change */
    body { font-size: 18px; }
    section { padding: 60px 0;}
    
    .long-copy {
        width: 80%;

        /* centers text because width is 80%, remaining 20% can be divided by 2, hence 10% */
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px;}
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px; 
        margin-right: 10px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    
    .contact-form { width: 80%; }
}


/* small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row, 
    .hero-text-box { padding: 0 4%; }
    
    /* columns will stack, instead of be side-by-side */
    .col { width: 100% }
    .main-nav { display: none }
    
    h1 { font-size: 180% }
    h2 { font-size: 150% }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px; 
        padding: 4px;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 25px;}
    .works-step:last-of-type { margin-bottom: 25px; }
}


/* small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    
}