
/* big tablets to 1200px (widths smaller than 1140px row width) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
}

/* small tablet to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

    /* because font sizes are defined as percentages of a base size, all fonts will change */
    body { font-size: 18px; }
    section { padding: 60px 0;}
    .long-copy {
        width: 80%;

        /* centers text because width is 80%, remaining 20% can be divided by 2, hence 10% */
        margin-left: 10%;
    }
    
}


/* small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    
}


/* small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    
}